{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Edit Provider{% else %}Add Provider{% endif %} - MEDCARE{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-building"></i> {% if form.instance.pk %}Edit{% else %}Add{% endif %} Insurance Provider</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Provider</button>
                        <a href="{% url 'insurance:provider_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
